<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        .jumbotron {
            margin: 5% 0 5% 0;
        }
    </style>
    
  </head>
  <body>
<div class="container">
    <div class="parent">
        <div class="jumbotron">

            <form action="" class="">
                <div class="col-sm-offset-4">
                    <div class="form-group">
                        <div class="row">
                            <label class="control-label col-sm-4" for="SName">Station Name</label>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="SName" placeholder="Enter Station">
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class="control-label col-sm-2" for="">Line</label>
                        </div>
                        <div class="row">
                            <div class="dropdown">
                                <button class="col-sm-6 btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose Line
                                    <span class="caret"></span></button>
                                <ul class="dropdown-menu text-center col-xs-6">
                                    <li><a href="#">Red</a></li>
                                    <li><a href="#">Green</a></li>
                                    <li><a href="#">Blue</a></li>
                                    <li><a href="#">Violet</a></li>
                                    <li><a href="#">Yellow</a></li>
                                    <li><a href="#">Airport Express</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class="control-label col-sm-2" for="Long">Longitude</label>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="Long" placeholder="Enter Longitude">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class="control-label col-sm-2" for="Latt">Latitude</label>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="Latt" placeholder="Enter Latitude">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-offset-5">
                    <button type="button" class="btn btn-success col-sm-3">Link</button>
                </div>
            </form>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="parent">
            <div class="jumbotron">
                <form action="" class="">
                    <div class="col-sm-offset-4">
                        <div class="form-group">
                            <div class="row">
                                <label class="control-label col-sm-6">Connecting Station 1</label>
                            </div>
                            <div class="row">
                                <div class="dropdown">
                                    <button class="col-sm-6 btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Station 1
                                        <span class="caret"></span></button>
                                    <ul class="dropdown-menu text-center col-xs-6">
                                        <li><a href="#">Name1</a></li>
                                        <li><a href="#">Name2</a></li>
                                        <li><a href="#">Name3</a></li>
                                        <li><a href="#">Name4</a></li>
                                        <li><a href="#">Name5</a></li>
                                        <li><a href="#">Name6</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="control-label col-sm-6">Connecting Station 2</label>
                            </div>
                            <div class="row">
                                <div class="dropdown">
                                    <button class="col-sm-6 btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Station 2
                                        <span class="caret"></span></button>
                                    <ul class="dropdown-menu text-center col-xs-6">
                                        <li><a href="#">Name1</a></li>
                                        <li><a href="#">Name2</a></li>
                                        <li><a href="#">Name3</a></li>
                                        <li><a href="#">Name4</a></li>
                                        <li><a href="#">Name5</a></li>
                                        <li><a href="#">Name6</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-offset-5">
                        <button type="button" class="btn btn-success col-sm-3">Link</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>


<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </body>
</html>
