body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.flex-container {
    display: flex;
    height: 100vh;

}

.flex-item {
    order:1;
    flex-grow: 1;
    flex-basis: 300px;
    padding:5%;
    height: 300px;

    align-self: center;
}

.flex-item-2 {
    order:1;
    flex-grow: 1;
    flex-basis: 300px;
    padding:5%;
    height: 500px;
    align-self: center;
}

.flex-item-3 {
    
}
